body, html {
  margin: 0;
  min-height: 100%;
  /*background-image: url("winter.jpeg");*/
  font-family: arial;
}

.spring {background-image: url("spring.jpg");}
.summer {background-image: url("summer.jpg");}
.autumn {background-image: url("autumn.jpg");}
.winter {background-image: url("winter.jpeg");}

.header {
  position: fixed;
  width: 100%;
  padding: 10px 16px;
  background: black;
  z-index: 2;
}

.nav {
  background: #555;
  text-align: left;
  font-size: 20px;
  margin: 9% 1% 1% 0%;
  width: 15%;
  padding: 1%;
  position: fixed;
  height: 100%;
  overflow: auto;
}

h1 {
  font-size: 50px;
  color:white;
  text-align: center;
}

h2 {
  padding: 0px;
  margin: 0px;
  text-decoration: underline;
}

.content {
/* Box for page content*/
  margin: 10% 0% 0% 20.5%;
  float:left;
}

.col10 {
  background: #999;
  opacity: 0.8;
  color: black;
  margin: 4% 4% 4% 0%;
  padding: 1%;
  border-radius: 5px;
  float:left;
}

.col7 {
  background: #999;
  opacity: 0.8;
  color: black;
  margin: 4% 4% 4% 0%;
  width: 60%;
  padding: 1%;
  border-radius: 5px;
  float:left;
}

.col5 {
  background: #999;
  opacity: 0.8;
  color: black;
  width: 44%;
  margin: 4% 4% 4% 0%;
  padding: 1%;
  border-radius: 5px;
  float:left;
}

.col3 {
  background: #999;
  opacity: 0.8;
  color: black;
  width: 28%;
  margin: 4% 4% 4% 0%;
  padding: 1%;
  border-radius: 5px;
  float:left;
}

.foot {
  color: black;
  margin: 1%;
  padding: 1%;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a:link    {
  /* Applies to all unvisited links */
  text-decoration: none;
  font-weight: bold;
  color: white;
}

a:visited {
  /* Applies to all visited links */
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 10px;
}

a:hover   {
  /* Applies to links under the pointer */
  text-decoration: underline;
  font-weight: bold;
  color: black;
  }


footer {

}
