body, html {
  margin: 0;
  min-height: 100%;
  /*background-image: url("winter.jpeg");*/
  font-family: arial;
}

.spring {background-image: url("spring.jpg");}
.summer {background-image: url("summer.jpg");}
.autumn {background-image: url("autumn.jpg");}
.winter {background-image: url("winter.jpeg");}

header {
  background: black;
  color: white;
  padding: 15px 15px 15px 15px;
  margin: 10px;
  border-radius: 20px;
  text-align: center;
}

header h1 {
  color:white;

}

nav ul {
  padding-left: 0;
}

nav ul li {
  list-style-type: none;
  padding: 10px;
  text-align: left;
}

nav ul li a {
  color: white;
}

h1 {
  font-size: 50px;
  color: #555;
}

h2 {
  padding: 0px;
  margin: 0px;
  text-decoration: underline;
}

.body:after {
  clear: both;
  content: " ";
  display: table;
}

.nav {
  background: #555;
  text-align: left;
  margin: 1%;
  float:left;
  width: 10%;
  padding: 1%;
  border-radius: 5px;
}
/* Applies to all col 10 wide, 1wide  */
.col10 {
  background: #999;
  color: black;
  margin: 1%;
  float:left;
  width: 82%;
  padding: 1%;
  border-radius: 5px;
}

.col7 {
  background: #999;
  color: black;
  margin: 1%;
  float:left;
  width: 53%;
  padding: 1%;
  border-radius: 5px;
}

/* Applies to all col 5 wide, 2wide  */
.col5 {
  background: #999;
  color: black;
  margin: 1%;
  float:left;
  width: 39%;
  padding: 1%;
  border-radius: 5px;
}

.col3 {
  background: #999;
  color: black;
  margin: 1%;
  float:left;
  width: 24%;
  padding: 1%;
  border-radius: 5px;
}

.foot {
  color: black;
  margin: 1%;
  padding: 1%;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a:link    {
  /* Applies to all unvisited links */
  text-decoration: none;
  font-weight: bold;
  color: white;
}

a:visited {
  /* Applies to all visited links */
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 10px;
}

a:hover   {
  /* Applies to links under the pointer */
  text-decoration: underline;
  font-weight: bold;
  color: black;
  }


footer {

}
